<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
=======
  <title><%= full_title(yield(:title)) %></title>
>>>>>>> rails-flavored-ruby
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all',
                             'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= yield %>
</body>
<<<<<<< HEAD
</html>
=======
</html>
>>>>>>> rails-flavored-ruby
